.dessert-submenu {
    background-color: white;
    padding: 1.5rem 2rem;
    font-family: 'Bebas Neue', sans-serif;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    max-width: 600px;
    margin-bottom: 1rem;
    z-index: 10;
  }
  
  .submenu-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: black;
    text-align: center;
  }
  .submenu-headingDes {
    font-size: 2rem;
font-family: 'Roboto', sans-serif;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 6px;
  margin: 0 0 2rem;
  letter-spacing: 1px;
  }

  .submenu-subheading {
    font-size: 1.8rem;
    margin: 1.5rem 0 1rem;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.3rem;
  }
  
  .submenu-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dessert-item {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #222;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
    transition: all 0.3s ease;
  }
  
  .dessert-item:hover {
    color: #ff6600;
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .dessert-item:last-child {
    border-bottom: none;
  }
  @media (max-width: 900px){ .submenu-heading {
    font-size: 2rem;
  }
  .submenu-subheading{
    font-size: 1.5rem;
  }
  .dessert-submenu {
    background-color: white;
    padding: 1rem 1.5rem;
  }
  }

  @media (max-width: 650px){
  .submenu-heading {
    color: rgb(179, 66, 85);
    font-family: 'Bebas Neue', sans-serif;
    font-size:2rem;
    position:absolute;
    bottom: 2rem;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .submenu-headingDes {
    color: rgb(179, 66, 85);
    font-family: 'Bebas Neue', sans-serif;
    font-size:2rem;
    position:absolute;
    bottom: 6rem;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .pageCount{
    color: #333;
    position:absolute;
    bottom: 1rem;
  }
  .pageCountDes{
    color: #333;
    position:absolute;
    bottom: 6rem;
  }
  .dessert-submenu{
    border: none;
    height: 90%;
}
}

@media (max-width: 650px) and (pointer: coarse){

    .submenu-headingDes {
        bottom: 10rem;
    }
    .pageCountDes{
        color: #333;
        position:absolute;
        bottom: 6rem;
      }
}